# MQTT Locotrack (real feed)
LOCOTRACK_HOST      = "your_broker_ip"
LOCOTRACK_PORT      = 17845
LOCOTRACK_USERNAME  = "user"
LOCOTRACK_PASSWORD  = "pass"
LOCOTRACK_TOPIC     = "kai/erka/locotrack"
LOCOTRACK_CLIENT_ID = "backend-locotrack"

# MQTT Panic Button (dummy or real)
PANIC_HOST          = "127.0.0.1"
PANIC_PORT          = 1884
PANIC_USERNAME      = ""
PANIC_PASSWORD      = ""
PANIC_CLIENT_ID     = "backend-panic"
PANIC_TOPIC_EVENT   = "kai/erka/panicButton/dummy"
PANIC_TOPIC_HEALTHSTATUS = "kai/erka/panicButton/health_dummy"

# MQTT LED (dummy or real)
LED_HOST            = "127.0.0.1"
LED_PORT            = 1884
LED_USERNAME        = ""
LED_PASSWORD        = ""
LED_CLIENT_ID       = "backend-led"
LED_TOPIC_TPL       = "kai/erka/led/+"
LED_QOS             = 1

# ClickHouse
CH_HOST             = "your_clickhouse_host"
CH_PORT             = 8123
CH_USERNAME         = "default"
CH_PASSWORD         = ""
CH_DATABASE         = "railway"
CH_TABLE            = "panic_events"
CH_JPL_DATABASE     = "railway"
CH_JPL_TABLE        = "jpl_master"
DEVICE_SOURCE       = "P60116"